<v-card v-for="album in albums" :max-width="300" class="mb-3" variant="text">
    <v-card-text>
        <v-img :height="album.images[0].height" :width="album.images[0].width" :src="album.images[0].url"></v-img>
    </v-card-text>
    <v-card-title>{{album.name}}</v-card-title>
    <v-card-subtitle>{{album.artists[0].name}}</v-card-subtitle>
</v-card>


<v-infinite-scroll :height="this.browseMenuHeight" :albums="albums" @load="load">
    <template v-for="n in steppedNumberOfAlbums" :key="n">
        <v-row>
            <v-col>
                <v-card :max-width="300" class="mb-3" variant="text" >
                    <v-card-text v-if="computedImages[n] && computedImages[n].url">
                        <v-img :height="computedImages[n].height" :width="computedImages[n].width" :src="computedImages[n].url"></v-img>
                    </v-card-text>
                    <v-card-title v-if="albums[n] && albums[n].name">{{albums[n].name}}</v-card-title>
                    <v-card-subtitle v-if="albums[n] && albums[n].artists[0] && albums[n].artists[0].name">{{albums[n].artists[0].name}}</v-card-subtitle>
                </v-card>
            </v-col>
            <v-col>
                <v-card :max-width="300" class="mb-3" variant="text" >
                    <v-card-text v-if="computedImages[n+1] && computedImages[n+1].url">
                        <v-img :height="computedImages[n+1].height" :width="computedImages[n+1].width" :src="computedImages[n+1].url"></v-img>
                    </v-card-text>
                    <v-card-title v-if="albums[n+1] && albums[n+1].name">{{albums[n+1].name}}</v-card-title>
                    <v-card-subtitle v-if="albums[n+1] && albums[n+1].artists[0] && albums[n+1].artists[0].name">{{albums[n+1].artists[0].name}}</v-card-subtitle>
                </v-card>
            </v-col>
        </v-row>
    </template>
</v-infinite-scroll>


<v-row class="d-flex justify-center">
    <h1 class="d-block">Genres</h1>
</v-row>
<v-row v-if="genreError">
    <v-alert type="error">{{genreError}}</v-alert>
</v-row>

<!-- comparision -->

<v-card width="99%" height="91.8vh" ref="homeCard" v-show="tab=='home'" class="overflow-auto">
    <v-card-text>
    <v-row ref="userBar">
        <v-col class="d-flex flex-row-reverse">
            <v-icon size=50>mdi-account-circle</v-icon>
        </v-col>
    </v-row>
    <v-row>
        <v-card v-for="album in albums" :max-width="300" class="mb-3" variant="text">
            <v-card-text>
                <v-img :height="album.images[0].height" :width="album.images[0].width" :src="album.images[0].url"></v-img>
            </v-card-text>
            <v-card-title>{{album.name}}</v-card-title>
            <v-card-subtitle>{{album.artists[0].name}}</v-card-subtitle>
        </v-card>
    </v-row>
    </v-card-text>
</v-card>


<v-card width="99%" height="91.8vh" ref="searchCard" v-show="tab=='search'" class="overflow-auto">
    <v-card-text>
        <v-row ref="searchBar">
            <v-col cols="4">
                <v-text-field label="Search" v-model="search" rounded variant="outlined" @input="searchApi(search) "></v-text-field>
            </v-col>
            <v-col class="d-flex flex-row-reverse">
                <v-icon size=50>mdi-account-circle</v-icon>
            </v-col>
        </v-row>
        <v-card variant="text" v-if="searched">
            <v-card-title class="d-flex justify-center">Search Results</v-card-title>
            <v-card-text>
                <v-row>
                    <v-card v-for="track in searchResult" :max-width="300" class="mb-3" variant="text">
                        <v-card-text>
                            <v-img :height="track.album.images[0].height" :width="track.album.images[0].width" :src="track.album.images[0].url"></v-img>
                        </v-card-text>
                        <v-card-title>{{track.name}}</v-card-title>
                        <v-card-subtitle>{{track.artists[0].name}}</v-card-subtitle>
                    </v-card>
                </v-row>
            </v-card-text>
        </v-card>
    </v-card-text>
</v-card>


<v-card v-for="album in albums" :max-width="300" class="mb-3" variant="text">
    <v-card-text>
        <v-img :height="album.images[0].height" :width="album.images[0].width" :src="album.images[0].url"></v-img>
    </v-card-text>
    <v-card-title>{{album.name}}</v-card-title>
    <v-card-subtitle>{{album.artists[0].name}}</v-card-subtitle>
</v-card>